* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #d7f9fa;
    background-image: 
        radial-gradient(at 47% 33%, hsl(51.00, 32%, 88%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(51.00, 32%, 88%) 0, transparent 55%);
}

  /* Header Top */
.header-top {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 3px 5px;
    background: #fcfcfc;
    background: linear-gradient(90deg, rgba(252, 252, 252, 1) 37%, rgba(77, 214, 175, 1) 100%);
    border-bottom: 2px solid #ccc;
}

.logo {
    font-weight: bold;
    width: 100px;
}
.logo img {
    width: 100%;
    object-fit: contain;
    height: 100%;
    border-radius: 50%;
}

.search-container {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
}

.search-container input {
    border: none;
    padding: 10px 12px;
    outline: none;
    width: 80%;
}

.search-container button {
    background-color: transparent;
    border: none;
    /* float: left; */
    padding: 0 10px;
    cursor: pointer;
}

.dark-toggle {
    cursor: pointer;
    font-size: 28px;
    margin: 15px;
}

.auth-buttons {
    display: flex;
    gap: 10px;
    /* font-size: 28px; */
}

.auth-buttons button {
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.signup {
    background-color: #00B388;
    color: white;
}

.login {
    background-color: #d7f9fa;
    color: #333;
}

.submenu {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    background-color: #5D7B6F;
    padding: 10px 0;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.submenu-item {
    display: flex;
    position: relative;
    align-items: center;
    gap: 8px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 6px 12px;
    transition: background-color 0.3s ease;
}

.submenu-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background-color: white;
    transition: all 0.3s ease;
    transform: translateX(-50%);
    transform-origin: center;
}

.submenu-item:hover::after {
    width: 100%;
}


.container1 {
    /* margin-bottom: 10px; */
    display: flex;
    width: 100%;
    height: 150px;
    flex-direction: column;
}
.container2 {
    margin: 30px 0px;
    padding: 15px 0px;
    width: 100%;
    height: 120vh;
    display: flex;
}

img#helpingImg {
    width: 100%;
    height: 600px;
    filter: brightness(60%);
    object-fit: cover;
}

.hero-text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 0 20px;
    font-size: 24px;
}
.QuyenGop {
    width: 100%;
}
.ThongKe {
    width: 25%;
    border-left: 2px solid black;
    position: fixed;
    top: 0;
    right: -400px; /* Ẩn ra ngoài khung nhìn */
    height: 100vh;
    background-color: #f8f9fa;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    transition: right 0.3s ease;
    padding: 20px;
    z-index: 999;
}
/* Khi mở */
.ThongKe.show {
    right: 0;
}

/* Nút toggle */
.toggle-btn {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #a4c3a2;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
    z-index: 1000;
}
.pageGrid{
    display: flex;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    flex-direction: column;
}
.pageItem{
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.18);
    transition: transform 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 50px;
    align-items: center;
    margin: 0px 15%;
}

.FormDongGop {
    color: rgb(0, 0, 0);
    width: 45%;
    padding: 30px;
    line-height: 1.8;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, rgba(0, 90, 84, 0.31), rgba(0, 89, 12, 0.1));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 255, 204, 0.1);
    margin: 30px auto;
    animation: fadeIn 1.2s ease;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.FormDongGop h1 {
    text-align: center;
    padding: 10px 0px ;
}
.FormDongGop label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #444;
}

.FormDongGop input[type="text"],
.FormDongGop input[type="email"],
.FormDongGop input[type="number"],
.FormDongGop input[type="tel"],
.FormDongGop select,
.FormDongGop textarea {
    width: 100%;
    padding: 10px 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    transition: 0.2s;
}

.FormDongGop input:focus,
.FormDongGop select:focus,
.FormDongGop textarea:focus {
    outline: none;
    border-color: #4CAF50;
    background-color: #fff;
}

.FormDongGop textarea {
    height: 100px;
    resize: vertical;
}

.FormDongGop button[type="submit"] {
    width: 99%;
    margin-top: 25px;
    padding: 12px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.FormDongGop button[type="submit"]:hover {
    background-color: #45a049;
}

@media (max-width: 1281px) {
    .container1 {
        display: flex;
        width: 100%;
        height: 135px;
        flex-direction: column;
    }
    .auth-buttons button {
        border: none;
        padding: 11px 8px;
        border-radius: 22px;
        cursor: pointer;
        font-weight: bold;
        font-size: 14px;
        margin: 10px;
    }
    .logo {
        font-weight: bold;
        width: 70px;
    }
    
    .search-container {
        display: flex;
        width: 200px;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 20px;
        overflow: hidden;
        background-color: white;
    }
    
    .search-container input {
        border: none;
        padding: 10px 12px;
        outline: none;
        width: 80%;
    }
    
   .search-container button {
       background-color: transparent;
       border: none;
       padding: 0 10px;
       cursor: pointer;
    }
   .submenu {
        display: flex;
        position: relative;
        justify-content: space-around;
        align-items: center;
        background-color: #5D7B6F;
        padding: 10px 0;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
        text-decoration: none;
    }

    .submenu-item {
        display: flex;
        position: relative;
        align-items: center;
        gap: 0px;
        color: white;
        text-decoration: none;
        font-weight: 500;
        padding: 3px 0px;
        transition: background-color 0.3s ease;
        font-size: 11px;
    }
    .QuyenGop {
        width: 100%;
    }
    .FormDongGop {
        color: rgb(0, 0, 0);
        width: 70%;
        padding: 20px;
        line-height: 1.8;
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        background: linear-gradient(135deg, rgba(0, 90, 84, 0.31), rgba(0, 89, 12, 0.1));
        backdrop-filter: blur(10px);
        border-radius: 20px;
        box-shadow: 0 8px 20px rgba(0, 255, 204, 0.1);
        margin: 30px auto;
        animation: fadeIn 1.2s ease;
    }
    .ThongKe {
        width: 25%;
        border-left: 2px solid black;
        position: fixed;
        top: 0;
        right: -400px; /* Ẩn ra ngoài khung nhìn */
        height: 100vh;
        background-color: #f8f9fa;
        box-shadow: -2px 0 5px rgba(0,0,0,0.1);
        transition: right 0.3s ease;
        padding: 10px;
        z-index: 999;
    }
    /* Khi mở */
    .ThongKe.show {
        right: 0;
    }
    
    /* Nút toggle */
    .toggle-btn {
        position: fixed;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: #a4c3a2;
        color: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 10px 0 0 10px;
        z-index: 1000;
    }
    .pageGrid{
        display: flex;
        grid-template-columns: repeat(2,1fr);
        gap: 7px;
        flex-direction: column;
    }
    .pageItem{
        background: white;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.18);
        transition: transform 0.3s ease;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        font-size: 10px;
        padding: 50px;
        align-items: center;
        margin: 0px 10%;
    }
}
@media screen and (max-width: 440px) {
    .container1 {
        display: flex;
        width: 100%;
        height: 135px;
        flex-direction: column;
    }
    .auth-buttons button {
        border: none;
        padding: 11px 8px;
        border-radius: 22px;
        cursor: pointer;
        font-weight: bold;
        font-size: 14px;
        margin: 10px;
    }
    .logo {
        font-weight: bold;
        width: 70px;
    }
    
    .search-container {
        display: flex;
        width: 200px;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 20px;
        overflow: hidden;
        background-color: white;
    }
    
    .search-container input {
        border: none;
        padding: 10px 12px;
        outline: none;
        width: 80%;
    }
    
   .search-container button {
       background-color: transparent;
       border: none;
       padding: 0 10px;
       cursor: pointer;
    }
   .submenu {
        display: flex;
        position: relative;
        justify-content: space-around;
        align-items: center;
        background-color: #5D7B6F;
        padding: 10px 0;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
        text-decoration: none;
    }

    .submenu-item {
        display: flex;
        position: relative;
        align-items: center;
        gap: 0px;
        color: white;
        text-decoration: none;
        font-weight: 500;
        padding: 3px 0px;
        transition: background-color 0.3s ease;
        font-size: 11px;
    }
    
    .container2 {
        margin: 30px 0px;
        padding: 15px 0px;
        width: 100%;
        height: 120vh;
        display: flex;
    }
    
    img#helpingImg {
        width: 100%;
        height: 600px;
        filter: brightness(60%);
        object-fit: cover;
    }
    
    .hero-text2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        padding: 0 20px;
        font-size: 24px;
    }
    .QuyenGop {
        width: 100%;
    }
    .ThongKe {
        width: 40%;
        border-left: 2px solid black;
        position: fixed;
        top: 0;
        right: -400px; /* Ẩn ra ngoài khung nhìn */
        height: 100vh;
        background-color: #f8f9fa;
        box-shadow: -2px 0 5px rgba(0,0,0,0.1);
        transition: right 0.3s ease;
        padding: 20px;
        z-index: 999;
    }
    /* Khi mở */
    .ThongKe.show {
        right: 0;
    }
    
    /* Nút toggle */
    .toggle-btn {
        position: fixed;
        top: 90%;
        right: 15px;
        transform: translateY(-50%);
        background-color: #a4c3a2;
        color: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 10px 0 0 10px;
        z-index: 1000;
    }
    .pageGrid{
        display: flex;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
        flex-direction: column;
    }
    .pageItem{
        background: white;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.18);
        transition: transform 0.3s ease;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        padding: 25px;
        align-items: center;
        margin: 0px 10%;
    }
    
    .FormDongGop {
        color: rgb(0, 0, 0);
        width: 70%;
        padding: 20px;
        line-height: 1.8;
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        background: linear-gradient(135deg, rgba(0, 90, 84, 0.31), rgba(0, 89, 12, 0.1));
        backdrop-filter: blur(10px);
        border-radius: 20px;
        box-shadow: 0 8px 20px rgba(0, 255, 204, 0.1);
        margin: 30px auto;
        animation: fadeIn 1.2s ease;
    }
    .FormDongGop h1 {
        text-align: center;
        padding: 10px 0px;
        font-size: 22px;
    }
    .FormDongGop label {
        display: block;
        margin-top: 15px;
        font-weight: bold;
        color: #444;
        font-size: 16px;
    }
    
    .FormDongGop input[type="text"],
    .FormDongGop input[type="email"],
    .FormDongGop input[type="number"],
    .FormDongGop input[type="tel"],
    .FormDongGop select,
    .FormDongGop textarea {
        width: 97%;
        padding: 5px 5px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
        font-size: 13px;
        transition: 0.2s;
    }
    
    .FormDongGop input:focus,
    .FormDongGop select:focus,
    .FormDongGop textarea:focus {
        outline: none;
        border-color: #4CAF50;
        background-color: #fff;
    }
    
    .FormDongGop textarea {
        height: 100px;
        resize: vertical;
    }
    
    .FormDongGop button[type="submit"] {
        width: 100%;
        margin-top: 25px;
        padding: 12px;
        font-size: 18px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .FormDongGop button[type="submit"]:hover {
        background-color: #45a049;
    } 
}